@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-pt-sans: 'PT Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --color-header: #B1E5F2;
    --color-header-escuro: #272635;
    --color-gray-button: #D6D6D7;
    --color-white-text: #E8E9F3;
    --color-gray-text: #D9D9D9;
    --color-dark-blue: #272635;
    --color-gray-produtos: #A6A6A8;
    --color-gray-descricao: #B8B8B9;
    --color-blue-button: #4B477D;
    --color-blue-text: #272635;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }